<!-- @format -->

<!-- eslint-disable -->
<template>
  <v-expansion-panel>
    <v-expansion-panel-header color="teal lighten-4">
      Artículos
    </v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-card class="mt-3">
        <v-card-text>
          <v-data-table
            dense
            :headers="headers"
            :items="items"
            class="elevation-1"
            mobile-breakpoint="0"
            sort-by="supply"
          >
            <template v-slot:[`item.precio`]="{ item }">
              {{ item.precio | moneda }}
            </template>
            <template v-slot:[`item.importe`]="{ item }">
              {{ item.importe | moneda }}
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-btn icon color="red" @click="remover(item)" :disabled="loader">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
  import { mapState } from "vuex";
  export default {
    name: "Supplies",
    data: () => ({
      headers: [
        { text: "Artículo", value: "supply" },
        { text: "Pallet", value: "pallet_id" },
        { text: "Expediente", value: "expediente" },
        { text: "Cantidad", value: "seleccionados", align: "end" },
        { text: "Precio", value: "precio", align: "end" },
        { text: "Importe", value: "importe", align: "end" },
        { text: "", value: "actions", align: "end" },
      ],
    }),
    computed: {
      ...mapState({
        items: (state) => state.Budgets.resource.budgetSupplies,
        loader: (state) => state.Budgets.loader,
      }),
    },
    methods: {
      remover(item) {
        let pregunta = `¿ Deseas eliminar ${item.seleccionados} ${item.supply}?`;
        this.$swal({
          title: pregunta,
          icon: "warning",
          showCancelButton: true,
        }).then((resp) => {
          if (resp.isConfirmed) {
            let url = `FR/budgets/removeSupply/${item.id}`;
            this.$store.commit("Budgets/setLoader", true);
            window.axios
              .delete(url)
              .then((resp) => {                
                this.$store.dispatch("Budgets/detalles", this.$route.params.id);
                this.$store.dispatch("message", resp.data.message);
              })
              .catch((e) => this.$store.dispatch("errores", e))
              .finally(() => this.$store.commit("Budgets/setLoader", false));
          }
        });
      },
    },
  };
</script>
