<!-- eslint-disable -->
<template>
	<v-expansion-panel>
		<v-expansion-panel-header color="orange lighten-4">
			Aguacate Externo
		</v-expansion-panel-header>
		<v-expansion-panel-content>
			<v-card class="mt-3">
				<v-card-text>
					Total de Cajas: {{ cajas }}<br />
					Total de Pallets: {{ cajas / 80 }}
				</v-card-text>
				<v-card-text>
					<v-data-table
						dense
						:headers="headers"
						:items="items"
						class="elevation-1"
						mobile-breakpoint="0"
					>
						<template v-slot:[`item.precio`]="{ item }">
							{{ item.precio | moneda }}
						</template>
						<template v-slot:[`item.importe`]="{ item }">
							{{ item.importe | moneda }}
						</template>
						<template v-slot:[`item.producto`]="{ item }">
							{{ item.producto }} ( {{ item.caja }})
						</template>
						<template v-slot:[`item.actions`]="{ item }">
							<v-btn icon color="red" @click="remover(item)" :disabled="loader">
								<v-icon>mdi-delete</v-icon>
							</v-btn>
						</template>
					</v-data-table>
				</v-card-text>
			</v-card>
		</v-expansion-panel-content>
	</v-expansion-panel>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex';
export default {
	name: 'Externos',
	data: () => ({
		headers: [
			{ text: 'Producto', value: 'producto' },
			{ text: 'Pallet', value: 'pallet_id' },
			{ text: 'Expediente', value: 'expediente' },
			{ text: 'Cajas', value: 'seleccionados', align: 'end' },
			{ text: 'Precio', value: 'precio', align: 'end' },
			{ text: 'Importe', value: 'importe', align: 'end' },
			{ text: '', value: 'actions', align: 'end' }
		],
		perPage: 50
	}),
	computed: {
		...mapState({
			items: state => state.Budgets.resource.externosAdded,
			loader: state => state.Budgets.loader
		}),
		cajas() {
			return window._.sumBy(this.items, 'seleccionados');
		}
	},
	methods: {
		...mapActions('Budgets', ['removeExterno']),
		remover(item) {
			let pregunta = `¿Deseas eliminar el pallet ${item.pallet_id}?`;
			window
				.swal({
					title: pregunta,
					icon: 'warning',
					buttons: ['Cancelar', 'Confirmar'],
					dangerMode: true
				})
				.then(confirmed => {
					if (confirmed) {
						this.removeExterno(item.id);
					}
				});
		}
	}
};
</script>
