<!-- eslint-disable -->
<template>
	<v-expansion-panel>
		<v-expansion-panel-header color="purple lighten-4">
			Aguacate FR 
		</v-expansion-panel-header>
		<v-expansion-panel-content>
			<v-card class="mt-3">
				<v-card-text>
					Total de Cajas: {{ cajas | numero }}<br />
					Total de Pallets: {{ (cajas / 80).toFixed(2) }}
				</v-card-text>
				<v-card-text>
					<v-data-table
						dense
						:headers="headers"
						:items="details"
						class="elevation-1 mt-3"
						hide-default-footer
						:items-per-page="perPage"
						mobile-breakpoint="0"
					>
						<template v-slot:[`item.actions`]="{ item }">
							<v-btn
								icon
								color="red"
								@click="remover(item)"
								:disabled="isLoading"
							>
								<v-icon>mdi-delete</v-icon>
							</v-btn>
						</template>
						<template v-slot:[`item.precio`]="{ item }">
							{{ item.precio | moneda }}
						</template>
						<template v-slot:[`item.importe`]="{ item }">
							{{ item.importe | moneda }}
						</template>
					</v-data-table>
				</v-card-text>
			</v-card>
		</v-expansion-panel-content>
	</v-expansion-panel>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex';
export default {
	name: 'Productos',
	data: () => ({
		headers: [
			{ text: 'Producto', value: 'referencia' },
			{ text: 'Pallet', value: 'pallet' },
			{ text: 'Expediente', value: 'expediente' },
			{ text: 'Cajas', value: 'cantidad', align: 'end' },
			{ text: 'Precio', value: 'precio', align: 'end' },
			{ text: 'Importe', value: 'importe', align: 'end' },
			{ text: '', value: 'actions', align: 'end' }
		],
		perPage: 50
	}),
	computed: {
		...mapState({
			details: state => state.Budgets.resource.details,
			isLoading: state => state.Budgets.loader
		}),
		cajas() {
			return _.sumBy(this.details, 'cantidad');
		}
	},
	methods: {
		...mapActions('Budgets', ['removeDetail']),
		remover(item) {
			let pregunta = `¿Deseas eliminar el pallet ${item.pallet}?`;
			window
				.swal({
					title: pregunta,
					icon: 'warning',
					buttons: ['Cancelar', 'Confirmar'],
					dangerMode: true
				})
				.then(confirmed => {
					if (confirmed) {
						this.removeDetail(item.id);
					}
				});
		}
	}
};
</script>
