<!-- @format -->

<!-- eslint-disable -->
<template>
  <v-expansion-panel>
    <v-expansion-panel-header color="green lighten-4">
      Agregar Producto
    </v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-col cols="12">
        <div class="mt-3">
          <h3 class="mb-3">Buscar</h3>
          <v-autocomplete
            clearable
            outlined
            dense
            small-chips
            label="Productos FR"
            :items="productos"
            v-model="producto"
            v-if="!externo"
          />
          <v-autocomplete
            dense
            small-chips
            outlined
            clearable
            label="Productos Externos"
            :items="otros"
            v-model="externo"
            v-if="!producto"
          >
          </v-autocomplete>
          <v-data-table
            calculate-widths
            sortBy="expediente"
            :headers="computedHeaders"
            :items="items"
            class="elevation-1"
            v-if="producto"
            mobile-breakpoint="0"
          >
            <template v-slot:[`item.seleccionados`]="{ item }">
              <v-text-field
                dense
                type="number"
                :max="item.disponibles"
                min="0"
                class="righted-input"
                v-model.number="item.seleccionados"
              />
            </template>
            <template v-slot:[`item.precio`]="{ item }">
              <v-text-field
                dense
                type="number"
                step="0.01"
                min="0"
                class="righted-input"
                v-model.number="item.precio"
              />
            </template>
            <template v-slot:[`item.fecha_minima`]="{ item }">
              {{ item.fecha_minima | date }}
            </template>
            <template v-slot:[`item.precioMexico`]="{ item }">
              {{ item.precioMexico | moneda }}
            </template>
          </v-data-table>
          <v-data-table
            dense
            mobile-breakpoint="0"
            :headers="headersExternos"
            :items="disponiblesExternos"
            class="elevation-1"
            hide-default-footer
            v-if="externo"
          >
            <template v-slot:[`item.fecha`]="{ item }">
              {{ item.fecha | date }}
            </template>
            <template v-slot:[`item.seleccionados`]="{ item }">
              <v-text-field
                dense
                type="number"
                :max="item.disponibles"
                min="0"
                class="righted-input"
                v-model.number="item.seleccionados"
              />
            </template>
            <template v-slot:[`item.precio`]="{ item }">
              <v-text-field
                dense
                type="number"
                step="0.01"
                min="0"
                class="righted-input"
                v-model.number="item.precio"
              />
            </template>
            <template v-slot:[`item.fecha_minima`]="{ item }">
              {{ item.fecha_minima | date }}
            </template>
            <template v-slot:[`item.precio_compra`]="{ item }">
              {{ item.precio_compra | moneda }}
            </template>
          </v-data-table>
        </div>
      </v-col>
      <v-col cols="12" v-if="listos.length">
        <v-card class="mt-3">
          <v-card-title>Listos para agregar</v-card-title>
          <v-card-text>
            <v-data-table
              dense
              :headers="headerListos"
              :items="listos"
              class="elevation-1"
              hide-default-footer
              :items-per-page="perPage"
              mobile-breakpoint="0"
            >
              <template v-slot:[`item.actions`]="{ item }">
                <v-btn icon color="red" @click="eliminar(item)">
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </template>
              <template v-slot:[`item.precio`]="{ item }">
                {{ item.precio | moneda }}
              </template>
              <template v-slot:[`item.importe`]="{ item }">
                {{ importe(item) | moneda }}
              </template>
            </v-data-table>
          </v-card-text>
          <v-card-text>
            Total de Pallets a agregar: {{ palletsTotal.toFixed(2) }} <br />
            Importe: {{ importTotal | moneda }}
          </v-card-text>
          <v-card-actions>
            <v-btn color="success" @click="agregar" :disabled="loader"
              >agregar al presupuesto</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col cols="12" v-if="listosExternos.length">
        <v-card class="mt-3">
          <v-card-title>Producto Externo seleccionado</v-card-title>
          <v-card-text>
            <v-data-table
              dense
              hide-default-footer
              :headers="headerListosExternos"
              :items="listosExternos"
              class="elevation-1"
            >
              <template v-slot:[`item.actions`]="{ item }">
                <v-btn icon color="red" @click="eliminarExterno(item)">
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </template>
              <template v-slot:[`item.precio`]="{ item }">
                {{ item.precio | moneda }}
              </template>
              <template v-slot:[`item.importe`]="{ item }">
                {{ importe(item) | moneda }}
              </template>
            </v-data-table>
          </v-card-text>
          <v-card-actions>
            <v-btn color="success" @click="addExternos" :disabled="loader"
              >Agregar Externos</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-col>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
  import { mapState, mapActions, mapMutations } from "vuex";
  export default {
    name: "Agregar",
    data: () => ({
      headers: [
        { text: "Expediente", value: "expediente", hide: "smAndDown" },
        { text: "Pallet", value: "pallet" },
        { text: "Fecha", value: "fecha_minima" },
        { text: "Disponibles", value: "disponibles", align: "end" },
        { text: "Cajas a Vender", value: "seleccionados", align: "end" },
        { text: "Precio Mex", value: "precioMexico", align: "end" },
        { text: "Precio", value: "precio", align: "end" },
      ],
      headerListos: [
        { text: "Producto", value: "referencia" },
        { text: "Pallet", value: "pallet" },
        { text: "Cantidad", value: "seleccionados", align: "end" },
        { text: "Precio", value: "precio", align: "end" },
        { text: "Importe", value: "importe", align: "end" },
        { text: "", value: "actions", align: "end" },
      ],
      headersExternos: [
        { text: "Compra", value: "compra", hide: "smAndDown" },
        { text: "Pallet", value: "pallet_id" },
        { text: "Fecha Corte", value: "fecha" },
        { text: "Disponibles", value: "disponibles", align: "end" },
        { text: "Cajas a Vender", value: "seleccionados", align: "end" },
        { text: "Precio Compra", value: "precio_compra", align: "end" },
        { text: "Precio", value: "precio", align: "end" },
      ],
      producto: undefined,
      perPage: 50,
      externo: undefined,
      headerListosExternos: [
        { text: "Producto", value: "etiqueta" },
        { text: "Pallet", value: "pallet_id" },
        { text: "Cantidad", value: "seleccionados", align: "end" },
        { text: "Precio", value: "precio", align: "end" },
        { text: "Importe", value: "importe", align: "end" },
        { text: "", value: "actions", align: "end" },
      ],
    }),
    computed: {
      ...mapState({
        pallets: (state) => state.Budgets.resource.disponibles,
        loader: (state) => state.Budgets.loader,
        externos: (state) => state.Budgets.resource.externos,
        externosAdded: (state) => state.Budgets.resource.externosAdded,
      }),
      productos: function() {
        return [...new Set(this.pallets.map((x) => x.referencia))];
      },
      items: function() {
        return this.pallets.filter((x) => {
          return x.referencia == this.producto;
        });
      },
      listos: function() {
        return this.pallets.filter((x) => {
          return (
            x.seleccionados &&
            x.precio &&
            x.seleccionados <= x.disponibles &&
            x.seleccionados > 0 &&
            x.precio >= 0
          );
        });
      },
      cajas: function() {
        return this.listos.reduce(function(accumulator, item) {
          return accumulator + parseFloat(item.seleccionados);
        }, 0);
      },
      palletsTotal: function() {
        let total = this.cajas / 80;
        return total;
      },
      importTotal: function() {
        return this.listos.reduce(function(accumulator, item) {
          let cantidad = parseFloat(item.seleccionados),
            precio = parseFloat(item.precio);
          return accumulator + precio * cantidad;
        }, 0);
      },
      computedHeaders() {
        return this.headers.filter(
          (h) => !h.hide || !this.$vuetify.breakpoint[h.hide]
        );
      },
      otros: function() {
        return [...new Set(this.externos.map((x) => x.etiqueta))].sort();
      },
      disponiblesExternos() {
        return this.externos.filter((x) => x.etiqueta == this.externo);
      },
      listosExternos() {
        return this.externos.filter((x) => {
          return (
            x.seleccionados &&
            x.precio &&
            x.seleccionados <= x.disponibles &&
            x.seleccionados > 0 &&
            x.precio >= 0
          );
        });
      },
    },
    watch: {
      externo: function(val) {
        if (val) this.producto = undefined;
      },
      producto: function(val) {
        if (val) this.externo = undefined;
      },
      externosAdded: function() {
        this.externo = undefined;
        this.producto = undefined;
      },
    },
    methods: {
      ...mapActions("Budgets", ["addProducto", "pushExterno"]),
      importe(item) {
        let cantidad = parseFloat(item.seleccionados),
          precio = parseFloat(item.precio);
        return cantidad * precio;
      },
      eliminar(item) {
        item.seleccionados = undefined;
        item.precio = undefined;
      },
      agregar() {
        let data = { data: this.listos };
        this.addProducto(data);
      },
      eliminarExterno(item) {
        item.seleccionados = undefined;
        item.precio = undefined;
      },
      addExternos() {
        let data = { externos: this.listosExternos };
        this.pushExterno(data);
      },
    },
  };
</script>
