<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link rel="apple-touch-icon" sizes="80X80" href="/img/logofr.png" />
		<link rel="icon" type="image/png" sizes="80X80" href="/img/logofr.png" />
		<title>FR Fresh Produce</title>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"
		/>
	</head>
	<body>
		<noscript>
			<strong
				>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
				properly without JavaScript enabled. Please enable it to
				continue.</strong
			>
		</noscript>
		<div id="app"></div>
		<!-- built files will be auto injected -->
	</body>
</html>
