<!-- eslint-disable -->
<template>
	<v-expansion-panel>
		<v-expansion-panel-header color="green lighten-4">
			Producto Apartado por Expediente
		</v-expansion-panel-header>
		<v-expansion-panel-content>
			<v-row>
				<v-col
					cols="12"
					md="6"
					xl="4"
					v-for="expediente in expedientes"
					:key="expediente"
				>
					<v-card class="mt-3" height='94%'>
						<v-card-title>Expediente {{ expediente }}</v-card-title>
						<v-card-text> 
							<p class="negrita">
								Apartados {{ sumField('apartados', expediente) | numero}}
							</p>
							<v-data-table dense :headers="headersPallets" :items="crearArray(expediente)" :items-per-page="perPage" mobile-breakpoint="0"/>
						</v-card-text>
					</v-card>
				</v-col>
			</v-row>
		</v-expansion-panel-content>
	</v-expansion-panel>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex';
export default {
	name: 'Apartados',
	data: () => ({
		headersPallets: [
        {text: 'Producto', value: 'producto'},
        {text: 'Apartados', value: 'disponibles', align: 'end'}
			],
			perPage:5,
	}),
	computed: {
		...mapState({
			todos: state => state.Dashboard.inventario
		}),
		disponibles() {
			return this.todos.filter(x => x.apartados > 0);
		},
		expedientes() {
			return [...new Set(this.disponibles.map(x => x.expediente))].sort();
		}
	},
	methods: {
		sumField(key, expediente) {
			let filtrados = this.disponibles.filter(x => x.expediente == expediente);
			return filtrados.reduce((a, b) => a + (b[key] || 0), 0);
		},
		crearArray(expediente){
        let collection = [],
          filtrados = this.disponibles.filter(x => {
            return x.expediente === expediente 
          }),
          agrupados = _.groupBy(filtrados, 'producto'),
          arrayAgrupados = Object.values(agrupados)
        arrayAgrupados.forEach(x => {
          let obj = {producto: x[0].referencia, disponibles: _.sumBy(x, 'apartados')}
          if (obj.disponibles > 0) collection.push(obj)
        })
        return collection;
      },
	}
};
</script>
