<!-- eslint-disable -->
<template>
	<v-expansion-panel>
		<v-expansion-panel-header color="orange lighten-4">
			Inventario Producto externo
		</v-expansion-panel-header>
		<v-expansion-panel-content>
			<v-row>
				<v-col xl="4" md="6">
					<p class="mt-5 negrita">
						Total Apartados: {{ apartados | numero }}<br />
						Total Disponibles: {{ disp | numero }}
					</p>
				</v-col>
				<v-col cols="12" xl="4" offset-xl="4" md="6" offset-md="6">
					<v-container>
						<v-text-field
							v-model="search"
							append-icon="mdi-magnify"
							label="Busqueda"
							single-line
							hide-details
						/>
					</v-container>
				</v-col>
			</v-row>
			<v-data-table
				dense
				:headers="headers"
				:items="items"
				class="elevation-1"
				:search.sync="search"
				mobile-breakpoint="0"
			>
			</v-data-table>
		</v-expansion-panel-content>
	</v-expansion-panel>
</template>

<script>
import { mapState } from 'vuex';
export default {
	name: 'Externos',
	data: () => ({
		search: undefined,
		headers: [
			{ text: 'Producto', value: 'producto' },
			{ text: 'Apartados', value: 'apartados', align: 'end' },
			{ text: 'Disponibles', value: 'disponibles', align: 'end' }
		]
	}),
	computed: {
		...mapState({
			disponibles: state => state.Dashboard.externos
		}),
		productos() {
			return [...new Set(this.disponibles.map(x => x.etiqueta))].sort();
		},
		items() {
			let data = [];
			this.productos.forEach(element => {
				let filtrados = this.disponibles.filter(x => x.etiqueta == element);
				data.push({
					producto: element,
					apartados: window._.sumBy(filtrados, 'apartados'),
					disponibles: window._.sumBy(filtrados, 'disponibles')
				});
			});
			return data;
		},
		apartados() {
			return window._.sumBy(this.disponibles, 'apartados');
		},
		disp() {
			return window._.sumBy(this.disponibles, 'disponibles');
		}
	}
};
</script>
