<!-- @format -->

<!-- eslint-disable -->
<template>
  <v-expansion-panel>
    <v-expansion-panel-header color="green lighten-4">
      Resumen Inventario
    </v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-row>
        <v-col xl="4" md="6">
          <p class="mt-5 negrita">
            Total Apartados: {{ totalApartados | numero }} <br />
            Total Disponibles: {{ totalDisponibles | numero }}
          </p>
        </v-col>
        <v-col cols="12" xl="4" offset-xl="4" md="6" offset-md="6">
          <v-container>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Busqueda"
              single-line
              hide-details
            />
          </v-container>
        </v-col>
      </v-row>
      <v-data-table
        dense
        :headers="headers"
        :items="items"
        class="elevation-1"
        :search.sync="search"
        mobile-breakpoint="0"
      >
      </v-data-table>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
  import { mapState, mapActions, mapMutations } from "vuex";
  export default {
    name: "Inventario",
    data: () => ({
      search: undefined,
      headers: [
        { text: "Producto", value: "producto" },
        { text: "Apartados", value: "apartados", align: "end" },
        { text: "Disponibles", value: "disponibles", align: "end" },
      ],
	  fechas:false
    }),
    computed: {
      ...mapState({
        disponibles: (state) => state.Dashboard.inventario,
      }),
      items() {
        let collection = [],
          agrupados = _.groupBy(this.disponibles, "referencia"),
          arrayAgrupados = Object.values(agrupados);
        arrayAgrupados.forEach((x) => {
          let obj = {
            producto: x[0].referencia,
            disponibles: _.sumBy(x, "disponibles"),
            apartados: _.sumBy(x, "apartados"),
          };
          collection.push(obj);
        });
        return collection;
      },
      totalApartados() {
        return _.sumBy(this.disponibles, "apartados");
      },
      totalDisponibles() {
        return _.sumBy(this.disponibles, "disponibles");
      },
    },
  };
</script>
