<!-- @format -->

<!-- eslint-disable -->
<template>
  <v-card>
    <v-card-text>
      <h3>Seleccionar Facturas</h3>
      <v-row class="mt-2">
        <v-col cols="12" md="6">
          <v-text-field
            dense
            outlined
            clearable
            append-icon="mdi-magnify"
            label="Buscar"
            id="id"
            v-model="search"
          />
        </v-col>
      </v-row>
      <v-data-table
        dense
        v-model="schedule.selected"
        show-select
        item-key="name"
        :items="invoices"
        :headers="headers"
        class="elevation-1 mt-4"
        mobile-breakpoint="0"
        :loading="loader"
        :search.sync="search"
      >
      </v-data-table>
    </v-card-text>
  </v-card>
</template>
<script>
  import { mapState } from "vuex";
  export default {
    name: "Seleccionar",
    props: {
      schedule: {
        type: Object,
        default() {
          return {};
        },
      },
      headers: {
        type: Array,
        default() {
          return [];
        },
      },
    },
    data: () => ({
      search: undefined,
    }),
    computed: {
      ...mapState({
        invoices: (state) => state.Goodman.invoices,
        loader: (state) => state.Goodman.loader,
      }),
    },
  };
</script>
