<!-- @format -->

<!-- eslint-disable -->
<template>
  <v-card>
    <v-card-text>
      <h3>Facturas Seleccionadas</h3>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    name: "Selected",
    props: {
      selected: {
        type: Array,
        default() {
          return [];
        },
      },
      headers: {
        type: Array,
        default() {
          return [];
        },
      },
    },
  };
</script>
