<!-- @format -->

<!-- eslint-disable -->
<template>
  <v-dialog v-model="dialog" max-width="600" persistent>
    <v-card>
      <v-card-title class="text-h5 grey lighten-2">
        Modificar {{ resource.name }}
      </v-card-title>
      <v-form @submit.prevent="actualizar">
        <v-card-text>
          <v-row class="mt-4">
            <v-col>
              <v-text-field
                dense
                outlined
                clearable
                label="Mostrar"
                v-model.number="resource.mostrar"
                type="number"
              />
            </v-col>
            <v-col>
              <v-text-field
                dense
                outlined
                clearable
                label="Precio"
                v-model.number="resource.price"
                type="number"
              />
            </v-col>
          </v-row>
          <v-divider></v-divider>
          <small>Cuando se modifica el precio se guarda</small>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" type="submit" :disabled="loader">
            guardar
          </v-btn>
          <v-btn
            color="error"
            @click="$emit('cancelar', original)"
            :disabled="loader"
          >
            cancelar
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: "Editar",
    props: {
      dialog: Boolean,
      resource: {
        type: Object,
        required: true,
      },
    },
    data: () => ({
      original: {},
      loader: false,
    }),
    mounted() {
      this.original = Object.assign({}, this.resource);
    },
    methods: {
      actualizar() {
        this.loader = true;
        let url = "FR/dashboard/guardarFijos";
        window.axios
          .post(url, this.resource)
          .then((resp) => {
            this.resource.date = Date.now();
            this.$store.dispatch("message", resp.data.message);
            this.$emit("actualizar", this.resource);
          })
          .catch((e) => this.$store.dispatch("errores", e))
          .finally(() => (this.loader = false));
      },
    },
  };
</script>
