<!-- @format -->

<!-- eslint-disable -->
<template>
  <v-card class="my-2">
    <screen-shoot
      v-if="inScreen"
      :selected="selected"
      @cerrar="inScreen = false"
    />
    <div v-else>
      <v-card-text>
        <v-row class="mb-2">
          <v-col>
            <v-row class="mt-2" v-if="itemsComputados.length">
              <v-col cols="12" md="6">
                <v-text-field
                  dense
                  outlined
                  clearable
                  append-icon="mdi-magnify"
                  label="Buscar"
                  id="id"
                  v-model="search"
                />
              </v-col>
              <v-col v-if="selected.length">
                <v-btn color="error" @click="pdf">
                  <v-icon>mdi-file-pdf-box</v-icon>
                </v-btn>
                <v-btn class="ml-2" color="primary" @click="inScreen=true">
                  <v-icon>mdi-cellphone-screenshot</v-icon>
                </v-btn>
              </v-col>
            </v-row>
            <v-data-table
              dense
              v-model="selected"
              show-select
              item-key="name"
              :items="itemsComputados"
              :headers="headers"
              class="elevation-1 mt-4"
              mobile-breakpoint="0"
              :loading="loader"
              :search.sync="search"
              :items-per-page="itemsComputados.length"
              hide-default-footer
            >
              <template v-slot:[`item.disponibles`]="{ item }">
                {{ item.disponibles | numero }}
              </template>
              <template v-slot:[`item.price`]="{ item }">
                {{ item.price | moneda }}
              </template>
              <template v-slot:[`item.date`]="{ item }">
                {{ item.date | date }}
              </template>
              <template v-slot:[`item.actions`]="{ item }">
                <v-btn icon color="success" @click="editar(item)">
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
              </template>
            </v-data-table>
          </v-col>
        </v-row>
      </v-card-text>
      <Modal
        :dialog="dialog"
        :resource="resource"
        @cancelar="dialog = false"
        @actualizar="reemplazar"
        v-if="dialog"
      />
    </div>
  </v-card>
</template>
<script>
  import Modal from "./EditarPrecio.vue";
  import { Printd } from "printd";
  import fileDownload from "js-file-download";
  import ScreenShoot from "./ScreenShoot.vue";
  export default {
    name: "ListaPrecios",
    components: { Modal, ScreenShoot },
    data: () => ({
      selected: [],
      loader: false,
      search: undefined,
      headers: [
        { text: "Producto", value: "name" },
        { text: "Disponibles", value: "disponibles", align: "end" },
        { text: "Precio", value: "price", align: "end", width: "10" },
        { text: "Actualizado", value: "date", width: "10" },
        { text: "Mostrar", value: "mostrar", align: "end", width: "10" },
        { text: "Acciones", value: "actions", align: "end", width: "10" },
      ],
      items: [],
      dialog: false,
      resource: {},
      d: new Printd(),
      inScreen: false,
    }),
    mounted() {
      this.actualizar();
    },
    computed: {
      itemsComputados() {
        return this.items;
      },
    },
    methods: {
      actualizar() {
        let url = "FR/dashboard/getLista";
        this.loader = true;
        this.message = undefined;
        this.items = [];
        window.axios
          .get(url)
          .then((resp) => {
            this.items = resp.data.items;
          })
          .catch((e) => this.$store.dispatch("errores", e))
          .finally(() => (this.loader = false));
      },
      editar(item) {
        this.dialog = true;
        this.resource = Object.assign({}, item);
      },
      reemplazar(item) {
        let buscado = this.items.find((x) => x.name == item.name);
        buscado.date = item.date;
        buscado.price = item.price;
        buscado.mostrar = item.mostrar;
        this.dialog = false;
      },
      print() {
        let url = "FR/dashboard/printLista",
          data = { items: this.selected };
        window.axios.post(url, data).then((resp) => {
          const el = document.createElement("p");
          el.innerHTML = resp.data.view;
          this.d.print(el);
        });
      },
      pdf() {
        let url = "FR/dashboard/printLista",
          data = { items: this.selected };
        window.axios.post(url, data).then((resp) => {
          window.axios
            .get(url, {
              responseType: "blob",
            })
            .then((response) => {
              fileDownload(response.data, "Price List.pdf");
            });
        });
      },
    },
  };
</script>
