<!-- @format -->

<!-- eslint-disable -->
<template>
  <div>
    <v-card-text>
      <v-row>
        <v-col cols="12" md="6" xl="3">
          <p class="primary text-h6 white--text pl-3 rounded-pill">Avocado Hass Organic Cat 1</p>
          <v-data-table
            dense
            mobile-breakpoint="0"
            :headers="headers"
            :items="organicCat1"
            hide-default-footer
            class="elevation-1 mb-4"
          >
            <template v-slot:[`item.size`]="{ item }">
              {{ item.cal }} cp
            </template>
            <template v-slot:[`item.mostrar`]="{ item }">
              {{ item.mostrar ? item.mostrar : "Call" }}
            </template>
            <template v-slot:[`item.price`]="{ item }">
              <span v-if="item.price">{{ item.price | moneda }}</span>
              <span v-else>Call</span>
            </template>
          </v-data-table>
        </v-col>
        <v-col cols="12" md="6" xl="3">
          <p class="primary text-h6 white--text pl-3 rounded-pill">Avocado Hass Organic Cat 2</p>
          <v-data-table
            dense
            mobile-breakpoint="0"
            :headers="headers"
            :items="organicCat2"
            hide-default-footer
            class="elevation-1 mb-4"
          >
            <template v-slot:[`item.size`]="{ item }">
              {{ item.cal }} cp
            </template>
            <template v-slot:[`item.mostrar`]="{ item }">
              {{ item.mostrar ? item.mostrar : "Call" }}
            </template>
            <template v-slot:[`item.price`]="{ item }">
              <span v-if="item.price">{{ item.price | moneda }}</span>
              <span v-else>Call</span>
            </template>
          </v-data-table>
        </v-col>
        <v-col cols="12" md="6" xl="3">
          <p class="primary text-h6 white--text pl-3 rounded-pill">Avocado Hass Conventional Cat 1</p>
          <v-data-table
            dense
            mobile-breakpoint="0"
            :headers="headers"
            :items="conventionalCat1"
            hide-default-footer
            class="elevation-1 mb-4"
          >
            <template v-slot:[`item.size`]="{ item }">
              {{ item.cal }} cp
            </template>
            <template v-slot:[`item.mostrar`]="{ item }">
              {{ item.mostrar ? item.mostrar : "Call" }}
            </template>
            <template v-slot:[`item.price`]="{ item }">
              <span v-if="item.price">{{ item.price | moneda }}</span>
              <span v-else>Call</span>
            </template>
          </v-data-table>
        </v-col>
        <v-col cols="12" md="6" xl="3">
          <p class="primary text-h6 white--text pl-3 rounded-pill">Avocado Hass Conventional Cat 2</p>
          <v-data-table
            dense
            mobile-breakpoint="0"
            :headers="headers"
            :items="conventionalCat2"
            hide-default-footer
            class="elevation-1 mb-4"
          >
            <template v-slot:[`item.size`]="{ item }">
              {{ item.cal }} cp
            </template>
            <template v-slot:[`item.mostrar`]="{ item }">
              {{ item.mostrar ? item.mostrar : "Call" }}
            </template>
            <template v-slot:[`item.price`]="{ item }">
              <span v-if="item.price">{{ item.price | moneda }}</span>
              <span v-else>Call</span>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-btn color="error" @click="$emit('cerrar')">cerrar</v-btn>
    </v-card-actions>
  </div>
</template>
<script>
  export default {
    name: "ScreenShoot",
    props: {
      selected: {
        type: Array,
        required: true,
      },
    },
    emits: ["cerrar"],
    data: () => ({
      headers: [
        { text: "Size", value: "size" },
        { text: "Qty", value: "mostrar", align: "end" },
        { text: "Price", value: "price", align: "end" },
      ],
    }),
    computed: {
      organicCat1() {
        return this.selected.filter((x) => {
          return x.description.includes("Organic") && x.cat == 1;
        });
      },
      organicCat2() {
        return this.selected.filter((x) => {
          return x.description.includes("Organic") && x.cat == 2;
        });
      },
      conventionalCat1(){
        return this.selected.filter((x) => {
          return x.description.includes("Conventional") && x.cat == 1;
        });
      },
      conventionalCat2(){
        return this.selected.filter((x) => {
          return x.description.includes("Conventional") && x.cat == 2;
        });
      }
    },
  };
</script>
